In [11]:
!conda install geopandas as gpd

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... failed with initial frozen solve. Retrying with flexible solve.
Collecting package metadata (repodata.json): ...working... done
Solving environment: ...working... failed with initial frozen solve. Retrying with flexible solve.

PackagesNotFoundError: The following packages are not available from current channels:

  - gpd
  - as

Current channels:

  - https://repo.anaconda.com/pkgs/main/win-64
  - https://repo.anaconda.com/pkgs/main/noarch
  - https://repo.anaconda.com/pkgs/r/win-64
  - https://repo.anaconda.com/pkgs/r/noarch
  - https://repo.anaconda.com/pkgs/msys2/win-64
  - https://repo.anaconda.com/pkgs/msys2/noarch

To search for alternate channels that may provide the conda package you're
looking for, navigate to

    https://anaconda.org

and use the search bar at the top of the page.

In [7]:
import pandas as pd
import geopandas as gpd
from keplergl import KeplerGl

ModuleNotFoundError: No module named 'geopandas'

## Task 2: Kepler GL

In [8]:
#Create a basemap 
m = KeplerGl(height=600, width=800) # The KeplerGL command line tool is used to create a map

#show the map
m

NameError: name 'KeplerGl' is not defined

In [9]:
# Create a Dataframe with columns for city, country, latitude, longitude, and population and input data
df = pd.DataFrame(
    {
        "City": ["Shanghai", "Sao paulo", "Cairo", "London", "Toronto", "Sydney"],
        "Country": ["China", "Brazil", "Egypt", "England", "Canada", "Australia"],
        "Latitude": [31.045556, -23.473293, 30.05, 51.514125, 43.666667, -33.861481], #These are the coordinates of each of the corresponding cities
        "Longitude": [121.399722, -46.665803, 31.25, -0.093689, -79.416667, 151.205475],
        "Population": [14608512, 10021437, 7734602, 7421228, 4612187, 4394585],
    }
)


df #display the datafram we just created

        City    Country   Latitude   Longitude  Population
0   Shanghai      China  31.045556  121.399722    14608512
1  Sao paulo     Brazil -23.473293  -46.665803    10021437
2      Cairo      Egypt  30.050000   31.250000     7734602
3     London    England  51.514125   -0.093689     7421228
4    Toronto     Canada  43.666667  -79.416667     4612187
5     Sydney  Australia -33.861481  151.205475     4394585

In [9]:

m.add_data(data=df, name='cities') #This will create dots on the map for each city with the corresponding population

In [ ]:
m #display the map

## Task 3: Customizing Point Map

In [11]:
import pandas as pd
import geopandas as gpd
from keplergl import KeplerGl

In [12]:
# Create A dataframe

df = pd.DataFrame(
    {
        "City": ["Shanghai", "Sao paulo", "Cairo", "London", "Toronto", "Sydney"],
        "Country": ["China", "Brazil", "Egypt", "England", "Canada", "Australia"],
        "Latitude": [31.045556, -23.473293, 30.05, 51.514125, 43.666667, -33.861481],
        "Longitude": [121.399722, -46.665803, 31.25, -0.093689, -79.416667, 151.205475],
        "Population": [14608512, 10021437, 7734602, 7421228, 4612187, 4394585],
    }
)


# Create a Kepler Map
m = KeplerGl(height=600, width=800)

# Add Dataframe to the map
m.add_data(data=df, name='cities')

User Guide: https://docs.kepler.gl/docs/keplergl-jupyter

In [13]:
m

KeplerGl(data={'cities': {'index': [0, 1, 2, 3, 4, 5], 'columns': ['City', 'Country', 'Latitude', 'Longitude',â€¦

## Task 4: Adding Geographic Data

In [2]:
!pip3 install geopandas as gpd

Collecting geopandas

ERROR: Could not find a version that satisfies the requirement as (from versions: none)
ERROR: No matching distribution found for as

  Using cached geopandas-0.11.0-py3-none-any.whl (1.0 MB)

In [1]:
import pandas as pd
import geopandas as gpd
from keplergl import KeplerGl

ModuleNotFoundError: No module named 'geopandas'

In [3]:
parking_df = pd.read_csv("Data/parking_violations_2015.csv")
parking_df.head()

,anon_ticket_number,issue_datetime,anon_plate_id,violation_desc,fine,issuing_agency,lat,lon
0,4674379,01/01/2015 00:00,934383,BLOCKNG MASS TRANSIT,101,SEPTA,39.975789,-75.163471
1,4707189,01/01/2015 00:00,1065037,BLOCKNG MASS TRANSIT,101,SEPTA,39.975789,-75.163471
2,4584526,01/01/2015 00:01,1262953,SIDEWALK CC,76,POLICE,39.954927,-75.140262
3,4669046,01/01/2015 00:01,47082,SIDEWALK CC,76,POLICE,39.954927,-75.140262
4,4588341,01/01/2015 00:02,1509569,SIDEWALK CC,76,POLICE,39.954927,-75.140262

In [4]:
parking_df.shape

(119910, 8)

In [5]:
#drop entries with missing latitude and longitude attributes
parking_df.dropna(subset=["lat", "lon"], how='all', inplace=True)

In [6]:
#Notice that we went from 119910 entries to 107710 entries
parking_df.shape

(107710, 8)

In [12]:
# gpd.GeoDataFrame generates a GeoDataFrame from a pandas DataFrame pd Dataframe parking_df, and lon and lat as the x and y coordinates
gdf = gpd.GeoDataFrame(parking_df, geometry=gpd.points_from_xy(parking_df.lon, parking_df.lat), crs="EPSG:4326") #crs is the coordinate reference system 
gdf.head()

,anon_ticket_number,issue_datetime,anon_plate_id,violation_desc,fine,issuing_agency,lat,lon,geometry
0,4674379,01/01/2015 00:00,934383,BLOCKNG MASS TRANSIT,101,SEPTA,39.975789,-75.163471,POINT (-75.16347 39.97579)
1,4707189,01/01/2015 00:00,1065037,BLOCKNG MASS TRANSIT,101,SEPTA,39.975789,-75.163471,POINT (-75.16347 39.97579)
2,4584526,01/01/2015 00:01,1262953,SIDEWALK CC,76,POLICE,39.954927,-75.140262,POINT (-75.14026 39.95493)
3,4669046,01/01/2015 00:01,47082,SIDEWALK CC,76,POLICE,39.954927,-75.140262,POINT (-75.14026 39.95493)
4,4588341,01/01/2015 00:02,1509569,SIDEWALK CC,76,POLICE,39.954927,-75.140262,POINT (-75.14026 39.95493)

In [10]:
# generate a file containing the geometries of the parking violations for the map
gdf.to_file("Data/Output/parking_2015.geojson",  driver='GeoJSON')

In [13]:
m = KeplerGl(height=800)
m.add_data(data=gdf, name='parking_points')

User Guide: https://docs.kepler.gl/docs/keplergl-jupyter

## Task 5: 3D Hexagon

In [1]:
import geopandas as gpd
from keplergl import KeplerGl

In [15]:
gdf = gpd.read_file("Data/Output/parking_2015.geojson")
gdf.head()

,anon_ticket_number,issue_datetime,anon_plate_id,violation_desc,fine,issuing_agency,lat,lon,geometry
0,4674379,01/01/2015 00:00,934383,BLOCKNG MASS TRANSIT,101,SEPTA,39.975789,-75.163471,POINT (-75.16347 39.97579)
1,4707189,01/01/2015 00:00,1065037,BLOCKNG MASS TRANSIT,101,SEPTA,39.975789,-75.163471,POINT (-75.16347 39.97579)
2,4584526,01/01/2015 00:01,1262953,SIDEWALK CC,76,POLICE,39.954927,-75.140262,POINT (-75.14026 39.95493)
3,4669046,01/01/2015 00:01,47082,SIDEWALK CC,76,POLICE,39.954927,-75.140262,POINT (-75.14026 39.95493)
4,4588341,01/01/2015 00:02,1509569,SIDEWALK CC,76,POLICE,39.954927,-75.140262,POINT (-75.14026 39.95493)

In [ ]:
m = KeplerGl(height=800)
m.add_data(data=gdf, name='3dHexagon')
m

## Task 6: Animation

In [ ]:
import geopandas as gpd
import pandas as pd
from keplergl import KeplerGl

In [ ]:
gdf = gpd.read_file("data/output/parking_2015.geojson", parse_dates=True)
gdf.head()

In [ ]:
gdf["issue_datetime"] = pd.to_datetime(gdf["issue_datetime"], dayfirst=True)

In [ ]:
gdf.sample(10)

In [ ]:
m = KeplerGl(height=900)
m.add_data(data=gdf, name='animation')
m

## Task 7: Choropleth Map

In [ ]:
import geopandas as gpd
from keplergl import KeplerGl

In [ ]:
neighborhoods = gpd.read_file("neighbrhoods.geojson")
neighborhoods.head()

In [ ]:
neighborhoods.crs

In [ ]:
neighborhoods = neighborhoods.to_crs("EPSG:4326")

In [ ]:
m = KeplerGl(height=900)
m.add_data(data=neighborhoods, name='choropleth_map')
m

## Task 8: Spatial Join Preprocessing

In [ ]:
import pandas as pd
import geopandas as gpd
from keplergl import KeplerGl

In [ ]:
gdf = gpd.read_file("data/output/parking_2015.geojson")
gdf.head()

In [ ]:
neighborhoods = gpd.read_file("data/neighbrhoods.geojson")
neighborhoods.head()

In [ ]:
gdf.crs == neighborhoods.crs

In [ ]:
neighborhoods = neighborhoods.to_crs("EPSG:4326")

In [ ]:
gdf.crs == neighborhoods.crs

In [ ]:
location_join = gpd.sjoin(gdf, neighborhoods, op="within")

In [ ]:
location_join.head()

In [ ]:
def count_numpoints(joined, polygons, merge_on):
    grouped = joined.groupby(merge_on).size()
    df = grouped.to_frame().reset_index()
    df.columns = [merge_on, "Count"]
    return polygons.merge(df, on=merge_on, how="outer")

numpoints_per_neigh = count_numpoints(location_join, neighborhoods, "NAME")
numpoints_per_neigh.head()

In [ ]:
m = KeplerGl(height=900)
m.add_data(data=numpoints_per_neigh, name='choropleth_map')
m